@font-face {
    font-family: 'cantarell_regular';
    src:url('/fonts/Cantarell-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'cantarell_bold';
    src:url('/fonts/Cantarell-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cantarell_oblique';
    src:url('/fonts/Cantarell-Oblique.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'cantarell_regular';
    width: 250px;
    font-size: 0.8em;
    display: inline-block;
    margin: 0;
    padding: 10px;
}

html {
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
}


#bonjour_link_div{
    text-align: right;
}

#popup_buttons{
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 3px solid rgb(114, 112, 113);
    display : none;
}
