body{
    width: 500px;
}

#login_input, #password_input{
    width: 75px;
}

#get_data_button{
    margin-top: 50px;
}

#load_database_button{
    margin-left: 50px;
}

#reset_database_button{
    margin-left: 50px;
}

#cyto_container{
    width: 1000px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 999;
    font-weight: bold;
    margin-top: 20px;
}


